<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报表管理系统</title>
    <script th:inline="javascript"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/vue-router.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/mycss.css">

</head>


<body style="background-color: rgba(239,239,239,0.8);">
<div th:replace="~{topnav::topbar}">

</div>

<div class="container-fluid " style="padding: 0px;height: 100%">

    <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 info-side-bar">
        <div th:replace="~{topnav::sidebar}"></div>
    </div>

    <div id="tr_table" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="publish-top">

        </div>

        <!--下面表-->
        <div class="info-table ">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>身份证号</th>
                    <th>地址</th>
                    <th>层数</th>
                    <th>总面积（㎡）</th>
                    <th>砖混（㎡）</th>
                    <th>砖木（㎡）</th>
                    <th>其他（㎡）</th>
                    <th>用途</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <!--循环此处TR-->
                <tr v-for="(data,index) in bodyData">
                    <th >{{index+1}}</th>
                    <!--姓名-->
                    <td>{{data.name}}</td>
                    <!--身份证号-->
                    <td>{{data.cardId}}</td>
                    <!--地址-->
                    <td>{{data.buildingAddress}}</td>
                    <!--层数-->
                    <td>{{data.floor}}</td>
                    <!--总面积-->
                    <td>{{data.totalArea}}</td>
                    <!--砖混-->
                    <td>{{data.zhuanhun}}</td>
                    <!--砖木-->
                    <td>{{data.zhuanmu}}</td>
                    <!--其他-->
                    <td>{{data.other}}</td>
                    <!--用途-->
                    <td>{{data.use}}</td>
                    <!--备注-->
                    <td>{{data.others}}</td>
                </tr>

                <tr>
                    <td colspan="11" style="text-align: center;font-size: large"><a :href="'/republish?'+vars"><button>编辑</button></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        new Vue({
            el: '#tr_table',
            data() {
                return {
                    length: null,
                    bodyData: null,
                    vars:null
                }
            },
            mounted() {
                var childId = this.getQuery();
                console.log(childId);
                var token = $.cookie("token");
                console.log(token);
                axios
                    .post('/childforms/query', {token: token,childId:childId})
                    .then(response => (console.log(response),this.bodyData=response.data.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
                this.vars = this.getStringQuery()
            },
            methods:{
                getQuery: function () {
                    {
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i = 0; i < vars.length; i++) {
                            var pair = vars[i].split("=");

                            if (pair[0] == 'childId') {
                                return pair[1];
                            }
                        }
                        return (false);
                    }
                },
                getStringQuery:function () {
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    return vars;
                }
            }
        })
    </script>

</div>

</body>

</html>