<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报表管理系统</title>
    <script th:inline="javascript"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/vue-router.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/mycss.css">

</head>


<body style="background-color: rgba(239,239,239,0.8);">
<div th:replace="~{topnav::topbar}">

</div>

<div class="container-fluid " style="padding: 0px;height: 100%">

    <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 info-side-bar">
        <div th:replace="~{topnav::sidebar}"></div>
    </div>

    <div id="tr_table" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="publish-top">
            <h2 style="color: red;text-align: center">填表说明：请仔细阅读后填写</h2>
            <ol style="font-size: 18px;">
                <li>
                    <h4>姓名：
                        <ul>
                            <span style="color: red"> <li>该建筑物修建人。</li><li>如果该人已故，填写法律上的所有继承人的名字。</li></span>
                            <li>确保姓名与户口册或身份证所登记的一致。</li>
                            <li>整栋楼由多人联建，需要填入所有参与人的名字。<span style="color: red">（如有已故的人，按前面要求填报）</span></li>
                            <li>一个建筑物有多个所有人，请在姓名间用,隔开。</li>
                        </ul>
                    </h4>
                </li>
                <li>
                    <h4>身份证:
                        <ul>
                            <li style="color: red">此项农业户口必填，请对应姓名顺序填写。</li>
                            <li><span style="color: red">多条身份证号用,分割</span>（半角的“,”，需要在英文输入法状态下使用）。</li>
                            <li>原则上必须填写每个人的身份证号，如特殊情况在无法找到所有身份证号，<span style="color: red">缺失的身份证信息的用5个8代替。</span></li>
                            <li>禁止填写身份证号及分隔符,以外的其他内容，<span style="color: red">或造成保存失败丢失现有内容。</span></li>
                        </ul>
                    </h4>
                </li>
                <li><h4>结构：其他结构是指除砖混，砖木外用其他材料构成的建筑物，必须<span style="color: red">墙高达到2.2米</span>以上。</h4></li>
                <li>
                    <h4>地址：
                        <ul>
                            <li>指<span style="color: red">该建筑物所在地址，</span>不是修建人的居住地址。</li>
                            <li>必须<span style="color: red">明确违建的位置，</span>比如某栋旁，某栋楼顶。</li>
                        </ul>
                    </h4>
                </li>
            </ol>
        </div>

        <!--下面表-->
        <div class="info-table ">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>身份证号</th>
                    <th>地址</th>
                    <th>层数</th>
                    <th>总面积（㎡）</th>
                    <th>砖混（㎡）</th>
                    <th>砖木（㎡）</th>
                    <th>其他（㎡）</th>
                    <th>用途</th>
                    <th>备注</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--循环此处TR-->
                <tr v-for="(object,index) in bodyData">
                    <th>{{index+1}}</th>
                    <!--姓名-->
                    <td><textarea type="text" row="5" class="form-control" v-model="object.name"></textarea></td>
                    <!--身份证号-->
                    <td><textarea type="text" row="5" class="form-control" v-model="object.cardId"></textarea></td>
                    <!--地址-->
                    <td><textarea type="text" row="5" class="form-control" v-model="object.buildingAddress"></textarea>
                    </td>
                    <!--层数-->
                    <td style="width: 6%"><select class="form-control" v-model="object.floor">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select></td>
                    <!--总面积-->
                    <!--<td><textarea type="text" row="3" class="form-control" v-model="object.totalArea"></textarea></td>-->
                    <td><input type="text" v-model="object.totalArea" readonly="readonly"></td>
                    <!--砖混-->
                    <td><textarea type="number" row="5" class="form-control" v-model="object.zhuanhun"
                                  @Input="total(index)"></textarea></td>
                    <!--<td><el-input v-model="" οnkeyup="this.value=this.value.replace(/[^\d.]/g,'');" maxlength="4" > </el-input></td>-->
                    <!--砖木-->
                    <td><textarea type="text" row="5" class="form-control" v-model="object.zhuanmu"
                                  @Input="total(index)"></textarea></td>
                    <!--其他-->
                    <td><textarea type="text" row="5" class="form-control" v-model="object.other"
                                  @Input="total(index)"></textarea></td>
                    <!--用途-->
                    <td style="width: 7%"><select class="form-control" v-model="object.use">
                        <option>居住</option>
                        <option>出租</option>
                        <option>经营</option>
                        <option>居住、出租</option>
                        <option>居住、经营</option>
                        <option>出租、经营</option>
                        <option>居住、出租、经营</option>
                    </select></td>
                    <!--备注-->
                    <td><textarea type="text" row="5" class="form-control" v-model="object.others"></textarea></td>
                    <td><button @click="deleteLine(object.id)">删除</button></td>
                </tr>

                <!--<tr>-->
                    <!--<td colspan="12" style="text-align: center;font-size: large" >点击增加一户</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td colspan="12" style="text-align: center;font-size: large" >点击减少一户</td>-->
                <!--</tr>-->
                <tr>
                    <td colspan="6"  @click="updateForms">更新</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        new Vue({
            el: '#tr_table',
            data: {
                childId:null,
                // lines: 1,
                bodyData: null
            },
            mounted() {
                var childId = this.getQuery();
                console.log(childId);
                var token = $.cookie("token");
                console.log(token);
                axios
                    .post('/childforms/query', {token: token, childId: childId  })
                    .then(response => (console.log(response.data), this.bodyData = response.data.data,this.locker=response.data.locker))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });

            },
            methods: {
                updateForms: function () {
                    console.log("点击报送")
                    var token = $.cookie("token");
                    var obj = new Object();
                    obj.token = token;
                    obj.building = this.bodyData;
                    obj.locker=1;
                    for (var i = 0; i < obj.building.length; i++) {
                        if (isNaN(obj.building[i].totalArea)) {
                            alert('请检查面积是否书写错误');

                            return;
                        }
                        if (isNaN(obj.building[i].zhuanhun)) {
                            alert('请检查砖混是否书写错误');
                            return;
                        }
                        if (isNaN(obj.building[i].zhuanmu)) {
                            alert('请检查砖木结构是否书写错误');
                            return;
                        }
                        if (isNaN(obj.building[i].other)) {
                            alert('请检查其他结构是否书写错误');
                            return;
                        }
                        if (obj.building[i].name == null | obj.building[i].name == "") {
                            alert('姓名不能为空');
                            return;
                        }
                        if (obj.building[i].cardId == null | obj.building[i].cardId == "") {
                            alert('身份证号不能为空');
                            return;
                        }
                        if (obj.building[i].buildingAddress == null | obj.building[i].buildingAddress == "") {
                            alert('地址不能为空');
                            return;
                        }
                        if (obj.building[i].floor == null | obj.building[i].floor == "") {
                            alert('层数不能为空');
                            return;
                        }
                        if (obj.building[i].use == null | obj.building[i].use == "") {
                            alert('用途不能为空');
                            return;
                        }
                    }
                    console.log(obj);
                    axios
                        .post('/api/forms/update', obj)
                        .then(function (response) {
                            console.log(response);
                            if (response.data.code==204) {
                                alert("更新成功");
                                $(window).attr('location','info');
                            }
                        })
                },
                total: function (index) {
                    var zhuanmu = this.bodyData[index].zhuanmu;
                    var zhuanhun = this.bodyData[index].zhuanhun;
                    var other = this.bodyData[index].other;
                    this.bodyData[index].totalArea = (parseFloat(zhuanhun) + parseFloat(zhuanmu) + parseFloat(other)).toFixed(2);
                    return this.bodyData[index].totalArea;

                },
                deleteLine:function (btn) {
                    var r = confirm("确认要删除吗？删除后无法恢复")
                    if (r==false){
                        return;
                    }
                    var token =$.cookie("token");
                    var obj =new Object();
                    if (this.bodyData.length<2){
                        alert("不能再删除最后一条了，需要删除请到详情页面删除整个表");
                        return;
                    }
                    obj.token=token;
                    obj.id=btn;
                    console.log(obj.id);
                    axios
                        .post('/api/childForms/delete', obj)
                        .then(function (response) {
                            console.log(response);
                            if (response.data.code==205) {
                                alert("删除成功");
                                $(window).attr('location','info');
                            }
                        })
                },
                getQuery: function () {
                    {
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i = 0; i < vars.length; i++) {
                            var pair = vars[i].split("=");

                            if (pair[0] == 'childId') {
                                return pair[1];
                            }
                        }
                        return (false);
                    }
                }
            }
        })
    </script>

</div>

</body>

</html>