<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="/static/vue.js"></script>
    <script src="/static/vue-router.js"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
</head>

<body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<div id="app">
   <button onclick="act()">下一页</button>
</div>
</body>
<script>
    function act(){
    $(window).attr('location','info');}
</script>
</html>