<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>报表管理系统</title>
    <script th:inline="javascript"></script>
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/vue.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/axios.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mycss.css">

</head>
<body>
<nav th:fragment="topbar" class="navbar navbar-default col-xs-12 col-sm-12 col-md-12 col-lg-12"
     style="background-color: rgba(56,111,213,0.8);margin-bottom: 0px;">
    <div id="nav" class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-text" style="color:white;" href="#">报表管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a @click="exit">安全退出</a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        new Vue({
            el:'#nav',
            methods:{
                exit:function () {
                    console.log("退出啦");
                    $.cookie("token",'0');
                    $(window).attr('location','/');
                }
            }
        })
    </script>
</nav>


<ul th:fragment="sidebar" class="nav-side-bar-ul">
    <div>
        <img src="/image/icon_001.png" alt="..." class="img-thumbnail nav-side-bar-ul-img">
    </div>
        <div style="text-align: center">{{user.name}}</div>
        <hr>

    <li><a href="/info">
        <span class="glyphicon glyphicon-home nav-side-bar-ul-left"></span>
        首页总览
        <span class="glyphicon glyphicon-menu-right nav-side-bar-ul-right" aria-hidden="true"></span></a>
    </li>
    <li><a href="/publish">
        <span class="glyphicon glyphicon-pencil nav-side-bar-ul-left"></span>
        填报数据
        <span class="glyphicon glyphicon-menu-right nav-side-bar-ul-right" aria-hidden="true"></span></a>
    </li>
    <li><a href="/info">
        <span class="glyphicon glyphicon-stats nav-side-bar-ul-left"></span>
        报表汇总
        <span class="glyphicon glyphicon-menu-right nav-side-bar-ul-right" aria-hidden="true"></span></a>
    </li>
    <li><a href="/set">
        <span class="glyphicon glyphicon-user nav-side-bar-ul-left"></span>
        信息设置
        <span class="glyphicon glyphicon-menu-right nav-side-bar-ul-right" aria-hidden="true"></span></a>
    </li>
</ul>
</body>
</html>