<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubenwu.guanlixitong.mapper.BuildingFormMapper">
  <resultMap id="BaseResultMap" type="com.jubenwu.guanlixitong.model.BuildingForm">
    <!--@mbg.generated-->
    <!--@Table building_form-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="child_form_id" jdbcType="VARCHAR" property="childFormId" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
    <result column="locker" jdbcType="INTEGER" property="locker" />
    <result column="is_send" jdbcType="INTEGER" property="isSend" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, child_form_id, gmt_create, gmt_modified, locker, is_send, adress, `name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from building_form
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from building_form
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jubenwu.guanlixitong.model.BuildingForm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into building_form (user_id, child_form_id, gmt_create, 
      gmt_modified, locker, is_send, 
      adress, `name`)
    values (#{userId,jdbcType=INTEGER}, #{childFormId,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=VARCHAR}, #{locker,jdbcType=INTEGER}, #{isSend,jdbcType=INTEGER}, 
      #{adress,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jubenwu.guanlixitong.model.BuildingForm" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into building_form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="childFormId != null">
        child_form_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="locker != null">
        locker,
      </if>
      <if test="isSend != null">
        is_send,
      </if>
      <if test="adress != null">
        adress,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="childFormId != null">
        #{childFormId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="locker != null">
        #{locker,jdbcType=INTEGER},
      </if>
      <if test="isSend != null">
        #{isSend,jdbcType=INTEGER},
      </if>
      <if test="adress != null">
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jubenwu.guanlixitong.model.BuildingForm">
    <!--@mbg.generated-->
    update building_form
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="childFormId != null">
        child_form_id = #{childFormId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="locker != null">
        locker = #{locker,jdbcType=INTEGER},
      </if>
      <if test="isSend != null">
        is_send = #{isSend,jdbcType=INTEGER},
      </if>
      <if test="adress != null">
        adress = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jubenwu.guanlixitong.model.BuildingForm">
    <!--@mbg.generated-->
    update building_form
    set user_id = #{userId,jdbcType=INTEGER},
      child_form_id = #{childFormId,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      locker = #{locker,jdbcType=INTEGER},
      is_send = #{isSend,jdbcType=INTEGER},
      adress = #{adress,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-28-->
  <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from building_form
        where user_id=#{userId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-28-->
  <select id="countByUserId" resultType="java.lang.Integer">
    select count(1)
    from building_form
    where user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-29-->
  <update id="updateById">
    update building_form
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=INTEGER},
      </if>
      <if test="updated.userId != null">
        user_id = #{updated.userId,jdbcType=INTEGER},
      </if>
      <if test="updated.childFormId != null">
        child_form_id = #{updated.childFormId,jdbcType=VARCHAR},
      </if>
      <if test="updated.gmtCreate != null">
        gmt_create = #{updated.gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="updated.gmtModified != null">
        gmt_modified = #{updated.gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="updated.locker != null">
        locker = #{updated.locker,jdbcType=INTEGER},
      </if>
    </set>
    where id=#{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-29-->
  <select id="selectLockerById" resultType="java.lang.Integer">
    select locker
    from building_form
    where id=#{id,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-29-->
  <select id="selectUserIdById" resultType="java.lang.Integer">
        select user_id
        from building_form
        where id=#{id,jdbcType=INTEGER}
    </select>
</mapper>