<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubenwu.guanlixitong.mapper.BuildingMapper">
  <resultMap id="BaseResultMap" type="com.jubenwu.guanlixitong.model.Building">
    <!--@mbg.generated-->
    <!--@Table building-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="building_address" jdbcType="VARCHAR" property="buildingAddress" />
    <result column="floor" jdbcType="INTEGER" property="floor" />
    <result column="use" jdbcType="VARCHAR" property="use" />
    <result column="others" jdbcType="VARCHAR" property="others" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="locker" jdbcType="INTEGER" property="locker" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="total_area" jdbcType="DOUBLE" property="totalArea" />
    <result column="zhuanhun" jdbcType="DOUBLE" property="zhuanhun" />
    <result column="zhuanmu" jdbcType="DOUBLE" property="zhuanmu" />
    <result column="other" jdbcType="DOUBLE" property="other" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, card_id, building_address, `floor`, `use`, `others`, gmt_create, gmt_modified, 
    parent_id, locker, user_id, total_area, zhuanhun, zhuanmu, other
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from building
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from building
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jubenwu.guanlixitong.model.Building" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into building (`name`, card_id, building_address, 
      `floor`, `use`, `others`, 
      gmt_create, gmt_modified, parent_id, 
      locker, user_id, total_area, 
      zhuanhun, zhuanmu, other
      )
    values (#{name,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{buildingAddress,jdbcType=VARCHAR}, 
      #{floor,jdbcType=INTEGER}, #{use,jdbcType=VARCHAR}, #{others,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=VARCHAR}, #{gmtModified,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{locker,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{totalArea,jdbcType=DOUBLE}, 
      #{zhuanhun,jdbcType=DOUBLE}, #{zhuanmu,jdbcType=DOUBLE}, #{other,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jubenwu.guanlixitong.model.Building" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into building
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="buildingAddress != null">
        building_address,
      </if>
      <if test="floor != null">
        `floor`,
      </if>
      <if test="use != null">
        `use`,
      </if>
      <if test="others != null">
        `others`,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="locker != null">
        locker,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="totalArea != null">
        total_area,
      </if>
      <if test="zhuanhun != null">
        zhuanhun,
      </if>
      <if test="zhuanmu != null">
        zhuanmu,
      </if>
      <if test="other != null">
        other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="buildingAddress != null">
        #{buildingAddress,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="use != null">
        #{use,jdbcType=VARCHAR},
      </if>
      <if test="others != null">
        #{others,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="locker != null">
        #{locker,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalArea != null">
        #{totalArea,jdbcType=DOUBLE},
      </if>
      <if test="zhuanhun != null">
        #{zhuanhun,jdbcType=DOUBLE},
      </if>
      <if test="zhuanmu != null">
        #{zhuanmu,jdbcType=DOUBLE},
      </if>
      <if test="other != null">
        #{other,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jubenwu.guanlixitong.model.Building">
    <!--@mbg.generated-->
    update building
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="buildingAddress != null">
        building_address = #{buildingAddress,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        `floor` = #{floor,jdbcType=INTEGER},
      </if>
      <if test="use != null">
        `use` = #{use,jdbcType=VARCHAR},
      </if>
      <if test="others != null">
        `others` = #{others,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="locker != null">
        locker = #{locker,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalArea != null">
        total_area = #{totalArea,jdbcType=DOUBLE},
      </if>
      <if test="zhuanhun != null">
        zhuanhun = #{zhuanhun,jdbcType=DOUBLE},
      </if>
      <if test="zhuanmu != null">
        zhuanmu = #{zhuanmu,jdbcType=DOUBLE},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jubenwu.guanlixitong.model.Building">
    <!--@mbg.generated-->
    update building
    set `name` = #{name,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      building_address = #{buildingAddress,jdbcType=VARCHAR},
      `floor` = #{floor,jdbcType=INTEGER},
      `use` = #{use,jdbcType=VARCHAR},
      `others` = #{others,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      locker = #{locker,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      total_area = #{totalArea,jdbcType=DOUBLE},
      zhuanhun = #{zhuanhun,jdbcType=DOUBLE},
      zhuanmu = #{zhuanmu,jdbcType=DOUBLE},
      other = #{other,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertAndGetId" keyProperty="id" parameterType="com.jubenwu.guanlixitong.model.Building" useGeneratedKeys="true">
    insert into building (`name`, card_id, building_address,
    `floor`, `use`, `others`,
    gmt_create, gmt_modified, parent_id,
    locker,user_id)
    values (#{name,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{buildingAddress,jdbcType=VARCHAR},
    #{floor,jdbcType=INTEGER}, #{use,jdbcType=VARCHAR}, #{others,jdbcType=VARCHAR},
    #{gmtCreate,jdbcType=VARCHAR}, #{gmtModified,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
    #{locker,jdbcType=INTEGER},#{userId,jdbcType=INTEGER})
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-01-28-->
  <select id="selectFirstLockerbyId" resultType="java.lang.Integer">
    select locker
    from building
    where id=#{id,jdbcType=INTEGER} limit 1
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-29-->
  <select id="selectUserIdById" resultType="java.lang.Integer">
        select user_id
        from building
        where id=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-29-->
  <update id="updateParentIdById">
    update building
    set parent_id=#{updatedParentId,jdbcType=INTEGER}
    where id=#{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-02-06-->
  <select id="selectParentIdById" resultType="java.lang.Integer">
        select parent_id
        from building
        where id=#{id,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-02-06-->
  <update id="updateUserIdById">
    update building
    set user_id=#{updatedUserId,jdbcType=INTEGER}
    where id=#{id,jdbcType=INTEGER}
  </update>
</mapper>